---
layout: default
---

<article class="post">
  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
    {% if post %}
      {% assign categories = post.categories %}
    {% else %}
      {% assign categories = page.categories %}
    {% endif %}

    {% if categories != empty %}
      <p class="post-meta">
        {% t global.filed_under %} &nbsp;
        {% for category in categories %}
          <div class="post-category post-category-pure">{{ category }}</div>
        {% endfor %}
      </p>
    {% endif %}

    <p class="content">
      {{ content }}
    </p>

    <div class="date">
      Written on {{ page.date | date: "%B %e, %Y" }}
    </div>

    {% include disqus.html %}
  </header>
</article>
