---
layout: default
---

<article class="post">
  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
    {% if post %}
      {% assign categories = post.categories %}
    {% else %}
      {% assign categories = page.categories %}
    {% endif %}

    {% if categories != empty %}
      <div class="post-meta">
        {% t global.filed_under %} &nbsp;
        {% for category in categories %}
          <div class="post-category post-category-pure">{{ category }}</div>
        {% endfor %}
      </div>
    {% endif %}
  </header>

  <div class="content">
    {{ content }}
  </div>

  <div class="post-meta date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
